<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <title>Document</title>
</head>
<body>
    <div id="app">

        <div v-if='output != ""'>
            <ul  v-for="item in output">
                <a v-bind:href="'file:///C:/Users/devil/Desktop/FInal/Frontend/getIndividualPurchase.html?id=' + item.purchaseId"><p>go to page</p></a>
                <h2>{{item.purchaseId}}</h2>
                <p>{{item.isCurrent}}</p>
                <li>{{item.totalPrice}}</li>
                <ul v-for="product in item.itemList">
                    <p>{{product.productName}}</p>
                </ul>
                <button class="btn btn-primary" v-on:click="deleteById(item.purchaseId)">Delete</button>

                
            </ul>
            
            
        </div>

    </div>
    <script src="js/getPurchases.js"></script>
</body>
</html>