<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <title>Document</title>
</head>
<body>
    <div id="app">

        <div v-if='output != ""'>

                <li>{{output.purchaseId}}</li>
                <ul v-for="product in output.itemList">
                    <p>{{product.productName}}</p>
                    <img v-bind:src="'https://barcode.tec-it.com/barcode.ashx?data=' + product.barcode + '&code=Code128&translate-esc=on'">

                </ul>
                <p>{{output.totalPrice}}</p>

                
        </div>

    </div>
    <script src="js/getPurchase.js"></script>
</body>
</html>